body{
    background-color: #313131; 
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container-header{
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo-tittle{
    padding-top: 2rem;

}
.welcome-start{
    background-color: none;
    padding-bottom: 2rem;
    color: white;
    justify-content: center;
    font-style: normal;
    font-size: 2rem;
    display: flex;
}

.btn-start{
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    font-size: 1.9rem;
    letter-spacing: 0.38em;
    display: flex;
    padding: 0.5rem 100%;
}

/* hides welcome screen on first page */
.hidden{
    display: none;
}

/* flips logo images for extra hacker effect */
img:hover {
    transform: scaleX(-1);
    }


/* second page */

.secondPage {
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container-menu-logo{
    width: 30%;
    height: 30%;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.form-content{
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-style: none;
    color: rgba(255, 255, 255, 0.767);
}

textarea{
    background-color: rgba(196,196,196,0.2); 
    border-radius: 0.5rem;
    box-shadow: 0rem 0.5rem 0.5rem rgb(0, 0, 0,0.40);
    border-style: none;
    align-items: center;
    text-align: center;
    display: flexbox;
    align-content: center;
    justify-content: center;
}

input[type=number]{
    width: 2rem;
    background-color: #ffffff4d; 
    border-radius: 0.3rem;
    box-shadow: 0rem 0.5rem 0.5rem rgb(0, 0, 0,0.40);
    border-style: none;
    color: rgba(255, 255, 255, 0.767);
}

.btn-content{
    border-style: none;
    border: none;
    outline: none;
    width: 6.3rem;
    background-color: #ffffff33; 
    color: rgba(255, 255, 255, 0.767);
    border-radius: 0.3rem;
    box-shadow: 0rem 0.5rem 0.5rem rgb(0, 0, 0,0.40);
    border-style: none;
}
